@{
    @model RegistrationForm.Models.Person
}

<h1 style="color: darkslateblue">Welcome @ViewBag.UserName !</h1>

<p>Your email is: @ViewBag.Email</p>
<p>Your password : @ViewBag.Password</p>
<p> Phone: @ViewBag.Phone</p>
<p> Gender: @ViewBag.Gender</p>
<p>Coffee: @ViewBag.Coffee</p>
